<div>
    <!--Body content-->
    <div ng-controller="ImageCtrl2">
		<div ng-controller="autocompleteCtrl">
        <p> You Have Chosen:{{imageName.replace('_','/')}} </p>

        <div class="row">
            <img ng-src="images/{{imageName.replace('_','/')}}" class="mainImage">
            <img ng-src="images/{{imageName.replace('_','/').replace('.jpg','LC.jpg')}}" class="summaryImage">
            <table>
                <tr><th>Semantic classification and percentage</th></tr>
				<tr ng-repeat="(key,value) in summaryInfo"><td>{{key}} : {{ value }}%</td></tr>
            </table>
        </div>
        <div class="row" ng-show="processed" >
			<img id="checkeredImg" ng-src="_output/{{checkered}}" class="mainImage">
            <img id="regionImg" ng-src="_output/{{region}}" class="summaryImage">
        </div>
        <div class="row">
			<div id="messages" ng-show="msgs">{{msgs}}</div>
			<div id="messages" ng-show="errors">{{errors}}</div>
			<div style="text-align: left;">Your query:</div>
				<div id="query" style="text-align: left">
					<pre>
						{{query}}
					</pre>
				</div>
			<form ng-submit="submitQuery()">
				<p>Start typing your query... e.g. ( Area_35_500 # Perimeter_50_300 )
				<br />
				 <span style="font-size:12px; color: grey;">Pound symbol (#) will be converted to ampersand (&) when query is submitted, using space will bring up auto-complete options.</span></p>
				<div class="form-group" style="text-align:left;">
					<label>Query:</label>
					<textarea style="height: 100px; width: 100%;" class="form-control" id='tags' name="queryString" ng-model="query" autocomplete="autocomplete"/>
				</div>
				<div style="width: 970px; text-align: left;">
					<input id="submitQuery" class="btn btn-primary" type="submit" value="Submit Query"> {{submitted}}
				</div>
			</form>
        </div>

    <div class="row selectLocation">
        <div>

			<br />
            Location:<select  ng-model="location" ng-options="location.name for location in locations | toArray | orderBy: 'name'"></select>
        </div>
		<div class="imageTable">
			<table>
				<tr>
					<td ng-repeat="images in location.images">
						{{images.name}}
						<a href="#/image/{{images.name.replace('/','_')}}">
							<img alt="" ng-src="images/{{images.name}}" class="thumb">
						</a>
					</td>
					<td>

					</td>
				</tr>
			</table>
		</div>
		</div>
    </div>
</div>






